
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/*
Colores:
#C6BEEF lila
#2A3181 azul
#FFFFFF blanco
#D6E6F5 celeste
#FFAA5A naranja
#E1F4CB verde
#F5CA30 amarillo
*/

/*
Tipografias
font-family: 'DM Mono', monospace;
font-family: 'Rubik Mono One', sans-serif;
*/

/*inicio estilo heather*/
header{
    background-color: #E1F4CB;
    width: 100%;
}

 ul {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 150px;
    padding-bottom: 30px;
 }
header a {
   
    text-decoration: none;
    font-family: 'DM Mono', monospace;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
}
    

    header ul li{
        display: inline;
        text-align: center;
        border-radius: 0px 0px 80px 80px;
    }

        .foodUno{
            background-color: #FFAA5A;
        }
        .regalosUno{
            background-color: #F5CA30;
        }
        .espaciosUno{
            background-color: #C6BEEF;
        }
        .arteUno{
            background-color: #4AA68D;
        }
        .homeUno{
            background-color: #6FA5F7;
        }

/*inicio estilo main*/




/* Inicio estilo MAIN */
main{
    background-color: #ffffff;
} 



/*PRIMERA SECCION*/

.seccionPrimera {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(../assets/img/cielo-edificio.png);
    background-size: 100%;
}


/* reviews */
.reviewsUno{

    width: 25rem;
    height: 35rem;
    background-color: #D6E6F5;
    border-radius: 0 0 3.2rem 3.2rem;
    padding: 1rem;
    top: 0;
    grid-column-start: 1;
    grid-column-end: 2;
}

.reviewsUno a{
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #4AA68D;
    text-decoration: none;
    padding: 2rem;
    padding-top: 5rem;
}


.seccionPrimera h4{
    width: 45rem;
    height: 15rem;
    font-family: 'DM Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 6.4rem;
    line-height: 8rem;
    align-items: center;
    text-align: right;
    padding-top: 10rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;

    color: #C6BEEF;
    transform: rotate(-12.43deg);
    text-align: center;
    transform-origin: bottom center;
    
            
}

                    /*imagen DOS HUELLA*/
                    .imgDos{
                        width: 15rem;
                        height: 65rem;
                        padding: 2rem;
                        grid-column-end: 3;
                    }


.seccionPrimera h1{
    width: 36rem;
    height: 13rem;
    -webkit-text-stroke: 2px #FFAA5A;
    color: transparent;
    padding: 10px;
    margin-bottom: 10px;

    font-family: 'DM Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 13rem;
    line-height: 18rem;
    text-align: right;
    grid-column-end: 5;
    

}

.seccionPrimera p{
    width: 39rem;
    height: 40rem;
    font-family: 'DM Mono'monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-align: right;
    padding: 20px;
    grid-column-end: 5;
    
    color: #2A3181;
}




/*SEGUNDA SECCION*/
.seccionSegunda {
    background-color: #C6BEEF;
    width: 100%;
    height: 46rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.seccionSegunda div p{

width: 80rem;
text-align: center;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    margin: 0rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    
}
                    /*imagen FLORES*/
                   
                    /*imagen TRES FLOR*/
                   
                    .imgTres {
                        width: 1rem;
                        height: 1rem;
                        padding: 1rem;
                    }

                    /*imagen CUATRO FLOR*/

                    .imgCuatro{
                        width: 1rem;
                        height: 1rem;
                        padding: 1rem;
                    }



/*TERCERA SECCION*/
.seccionTercera {
    background-color: #FFAA5A;
    width: 100%;
    height: 46rem;
    left: 0px;
    top: 0rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}

                    /*imagen CINCO PLATO DE COMIDA*/
                    .seccionTercera img{
                        width: 50%;
                        grid-column-end: 3;
                        overflow: cover;
                    }

.seccionTercera p{
    color: white;
    text-align: left;
    width: 100%;
    height: 50rem;
    padding: 2rem;
    grid-row-start: 2;
}

figcaption{
    color: #FFFFFF;
    font-family: 'DM Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    text-align: right;
    grid-row-start: 3;
}







/*CUARTA SECCION*/
.seccionCuarta {
    background-color:#E1F4CB;
    width: 100%;
    height: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.seccionCuarta p{ 
grid-column-start: 3;
grid-column-end: 5;
grid-row-start: 2;
grid-row-end: 3;

}

                    /*imagen SEIS PERSONA*/
                    .seccionCuarta img{
                        width: 25rem;
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row-start: 2;
                        grid-row-end: 3;
                    }

.seccionCuarta h2{
    font-family: 'DM Mono', monospace;
    font-size: 2.0rem; 
    font-weight: 400;
    align-items: center;
    color: #2A3181;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}


/*FOOTER*/
                            footer{
                                width: 100%;
                                height: 30rem;
                                top: 222rem;
                                background: #D6E6F5;
                                text-align: center;
                                }

                            footer img{
                            width: 2rem;
                        }







                        /*PAGINA FOOD*/

                        .seccionFood{

                            width: 50rem;
                            height: 100rem;
                            background-color: #6FA5F7;
                        }

                        .seccionFood p{
                            color: white;
                            width: 50rem;
                            height: 100rem;
                            padding: 5rem;
                        }

                        .huevoFrito {
                            width: 35rem;
                            height: 50rem;
                        }
                        .huevoFrito p{
                            width: 45rem;
                            height: 35rem;
                            color: #2A3181;
                            padding: 5rem;
                            padding-top: 3rem;
                            }
                        .huevoFrito h3{
                            width: 35rem;
                            height: 5rem;
                            text-align: left;
                            padding-left: 5rem;
                        }
                        .huevoFrito img{
                            width: 45rem;
                            padding: 5rem;
                        }



                        /*seccion pasta*/
                        .platoPasta{
                            width: 35rem;
                            height: 50rem;
                        }
                        .platoPasta p{
                            width: 45rem;
                            height: 35rem;
                            color: #2A3181;
                            padding: 5rem;
                            padding-top: 3rem;
                            }
                        .platoPasta h3{
                            width: 35rem;
                            height: 5rem;
                            text-align: left;
                            padding-left: 5rem;
                        }
                        .platoPasta img{
                            width: 45rem;
                            padding: 5rem;
                        }
                    


.main section ul li{
    display: inline;
    text-align: left;
}





p{
    color: #2A3181;
    font-family: 'DM Mono', monospace;
    font-size: 1.3rem;
    
}
h3{
    color: #2A3181;
    font-family: 'DM Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

h6{
    width: 36rem;
    height: 13rem;
    padding: 2rem;
    text-align: left;
    font-family: 'DM Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 13rem;
    line-height: 18rem;
    text-align: right;
    -webkit-text-stroke: 2px #FFFFFF;
    color: transparent;
}


